@using System.Text
@inject ClipBoardService ClipBoardService

<div class="flex flex-col w-4/6 mx-auto my-3 min-h-[98%] max-h-[98%] h-[98%] relative border-3 border-adlerdarkblue rounded overflow-hidden bg-gradient-to-br from-adlerbggradientto to-adlergrey-100">
<div class="flex flex-col my-2 mx-4">
    <MudText Class="flex justify-end text-xs text-adlerdarkblue pt-2">* Pflichtfeld</MudText>
    <MudText Class="cursor-default flex justify-center items-center text-lg 2xl:text-xl font-bold text-adlerdarkblue pb-2">Learning Outcomes</MudText>
    <div class="flex flex-row">
        <MudText Class="cursor-default text-sm text-adlergrey-800">Machen Sie sich zunächst Gedanken dazu, auf welcher Taxonomiestufe Sie Ihr Learning Outcome formulieren möchten.</MudText>
    </div>
</div>

<div class="border-adlergrey-300 bg-white border-2 rounded mx-4">
<div class="flex flex-row gap-4 m-2 pb-8">
    <div class="w-32 2xl:w-48 flex flex-row items-center justify-center gap-2 p-2 bg-adlergrey-100 rounded">
        <MudText Class="cursor-default text-xs 2xl:text-sm text-adlerdarkblue font-bold break-all">Taxonomiestufe</MudText>
        <MudTooltip Placement="Placement.Right" Class="w-80 p-4 bg-adlerdarkblue-200 shadow-xl text-start leading-relaxed" Text="Die Formulierung eines Learning Outcomes fokussiert die Beschreibung von entsprechenden Fähigkeiten, Fertigkeiten oder Kompetenzen des intendierten Lernprozesses der Studierenden. Diese lassen sich aufgrund ihrer Komplexität der kognitiven Prozesse einer Taxonomiestufe zuordnen. Die Festlegung einer Taxonomiestufe (nach Anderson & Krathwohl) dient in den weiteren Bearbeitungsschritten der Learning Outcome-Formulierung zum Finden eines passenden Verbes der Sichtbarkeit.">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Info" Class="text-adlergrey hover:text-adlerdarkblue"></MudIcon>
        </MudTooltip>
    </div>
    <MudSelect @bind-Value="_selectedTaxonomyLevel" Placeholder="Auswahl der Taxonomiestufe">
        
            <MudSelectItem Value="@_taxonomyLevels[0].ToString()">@_taxonomyLevels[0].ToString() <span class="text-adlergreen text-xs"> Erinnern bedeutet... </span></MudSelectItem>
            <MudSelectItem Value="@_taxonomyLevels[1].ToString()">@_taxonomyLevels[1].ToString() <span class="text-adlergreen"> </span></MudSelectItem>
            <MudSelectItem Value="@_taxonomyLevels[2].ToString()">@_taxonomyLevels[2].ToString() <span class="text-adlergreen"> </span></MudSelectItem>
            <MudSelectItem Value="@_taxonomyLevels[3].ToString()">@_taxonomyLevels[3].ToString() <span class="text-adlergreen"> </span></MudSelectItem>
            <MudSelectItem Value="@_taxonomyLevels[4].ToString()">@_taxonomyLevels[4].ToString() <span class="text-adlergreen"> </span></MudSelectItem>
            <MudSelectItem Value="@_taxonomyLevels[5].ToString()">@_taxonomyLevels[5].ToString() <span class="text-adlergreen"> Test</span></MudSelectItem>
        
    </MudSelect>
</div>

<div class="flex flex-row gap-4 m-2">
    <MudText Class="w-32 2xl:w-48 p-2"></MudText>
    <MudText Class="cursor-default text-md text-adlergrey-800">"Nach erfolgreicher Beendigung des Lernraums können Studierende...</MudText>
</div>

<div class="flex flex-row gap-4 m-2">
    <div class="w-32 2xl:w-48 flex flex-row items-center justify-center gap-2 p-2 bg-adlergrey-100 rounded">
            <MudText Class="cursor-default text-xs 2xl:text-sm text-adlerdarkblue font-bold break-all">Was? (Inhalt)*</MudText>
            <MudTooltip Placement="Placement.Right" Class="w-80 p-4 bg-adlerdarkblue-200 shadow-xl text-start leading-relaxed" Text="Das 'Was' sagt aus, welcher Lerninhalt (inhaltliches Thema) im Rahmen des Kompetenzerwerbs der Studierenden adressiert werden soll. Dieser wird in den folgenden Schritten mit Hilfe einer Taxonomiestufe und einem Verb der Sichtbarkeit zu einer entsprechenden Fähigkeit, Fertigkeit oder Kompetenz weiterformuliert.">
                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Info" Class="text-adlergrey hover:text-adlerdarkblue"></MudIcon>
            </MudTooltip>
        </div>
    <MudTextField @bind-Value="_currentLearningOutcome.What" Placeholder="Textfeld" Lines="2" DebounceInterval="1" Clearable="true" Immediate="true"></MudTextField>
</div>

<div class="flex flex-row gap-4 m-2">
    <div class="w-32 2xl:w-48 flex flex-row items-center justify-center gap-2 p-2 bg-adlergrey-100 rounded">
            <MudText Class="cursor-default text-xs 2xl:text-sm text-adlerdarkblue font-bold break-all">Verb der Sichtbarkeit*</MudText>
            <MudTooltip Placement="Placement.Right" Class="w-80 p-4 bg-adlerdarkblue-200 shadow-xl text-start leading-relaxed" Text="Das Learning Outcome beschreibt gewünschte Verhaltensdispositionen und welche Fähigkeiten, Fertigkeiten oder Kompetenzen die Lernenden am Ende des Lernprozesses entwickelt haben werden. Es beschreibt also Handlungen, welche mit Hilfe von Verben der äußeren Sichtbarkeit formuliert werden. Diese stellen ein Tun an/mit einem äußeren Objekt dar. Die Verben der äußeren Sichtbarkeit lassen sich einer Taxonomiestufe zuordnen.">
                <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Info" Class="text-adlergrey hover:text-adlerdarkblue"></MudIcon>
            </MudTooltip>
        </div>
    <MudAutocomplete T="string" Placeholder="Formulieren oder auswählen"
                     @bind-Value="_currentLearningOutcome.VerbOfVisibility"
                     @bind-Text="_currentText"
                     CoerceText="true" 
                     CoerceValue="true"
                     SearchFunc="@SearchVerbOfVisibility"
                     OnBlur="@OnBlurVerbOfVisibility"
                     DebounceInterval="300"/>
</div>

<div class="flex flex-row gap-4 m-2">
    <div class="w-32 2xl:w-48 flex flex-row items-center justify-center gap-2 p-2 bg-adlergrey-100 rounded">
        <MudText Class="cursor-default text-xs 2xl:text-sm text-adlerdarkblue font-bold break-all">Womit?</MudText>
        <MudTooltip Placement="Placement.Right" Class="w-80 p-4 bg-adlerdarkblue-200 shadow-xl text-start leading-relaxed" Text="Das 'Womit' beschreibt, mittels welcher theoretischen oder praktischen Werkzeuge Lernende ihre Handlungen ausführen. Im 'Womit' finden sich die Formeln, Modelle, Pläne Begriffe etc., die im Laufe der Veranstaltung kennengelernt werden, deren Nutzung geübt wird und deren Ineinandergreifen für ein kompetentes Handeln erforderlich ist.">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Info" Class="text-adlergrey hover:text-adlerdarkblue"></MudIcon>
        </MudTooltip>
    </div>
    <MudText Class="cursor-default w-24 flex items-center text-md text-adlergrey-800"> indem sie... </MudText>
    <MudTextField @bind-Value="_currentLearningOutcome.Whereby" Placeholder="Textfeld" Lines="2" DebounceInterval="1" Clearable="true" Immediate="true"></MudTextField>
</div>

<div class="flex flex-row gap-4 m-2">
    <div class="w-32 2xl:w-48 flex flex-row items-center justify-center gap-2 p-2 bg-adlergrey-100 rounded">
        <MudText Class="cursor-default text-xs 2xl:text-sm text-adlerdarkblue font-bold break-all">Wozu?</MudText>
        <MudTooltip Placement="Placement.Right" Class="w-80 p-4 bg-adlerdarkblue-200 shadow-xl text-start leading-relaxed" Text="Das 'Wozu' gibt einen Ausblick auf den Sinnhorizont, für den die Lerneinheit konzipiert wurde. Es beschreibt quasi den nächsten Schritt, den Studierende gehen können, wenn sie das Gelernte sicher beherrschen. Das 'Wozu' ist allerdings nicht Bestandteil der Prüfung. (Für welchen Zweck sollen die Kompetenzen erworben werden? Wozu benötigen die Studierenden die erworbenen Fähigkeiten, Fertigkeiten oder Kompetenzen nach der Lehrveranstaltung?)">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Info" Class="text-adlergrey hover:text-adlerdarkblue"></MudIcon>
        </MudTooltip>
    </div>
    <MudText Class="cursor-default w-24 flex items-center text-md text-adlergrey-800"> um... </MudText>
    <MudTextField @bind-Value="_currentLearningOutcome.WhatFor" Placeholder="Textfeld" Lines="2" DebounceInterval="1" Clearable="true" Immediate="true"></MudTextField>
</div>
</div>

<div class="flex flex-col gap-2 my-2 mx-4 pt-6">
    <MudText Class="cursor-default text-adlergrey-800 text-sm">Vorschau des formulierten Learning Outcomes:</MudText>
    <div class="@*bg-buttonbgblue*@ bg-white border border-adlergrey-300 border-2 rounded p-2">
        <MudMarkdown Value="@_currentLearningOutcome.GetMarkDownFormattedOutcome()"></MudMarkdown>
    </div>
</div>

    <div class="flex flex-row mx-4 pb-1">
        <MudButton Class="text-adlerblue font-bold flex-auto justify-start" Disabled="!_currentLearningOutcome.IsCopyable()" StartIcon="@Icons.Material.Filled.ContentCopy" OnClick="@CopyToClickBoard">In die Zwischenablage kopieren</MudButton>
        <a href="https://projekt-adler.eu/" target="_blank">
            <img class="flex-none w-12" src="CustomIcons/AdLer_Logo.png" alt="Projekt AdLer-Logo" />
        </a>
    </div>
</div>

@code {
    private LearningOutcome _currentLearningOutcome = new();
    private TaxonomyLevel[] _taxonomyLevels = (TaxonomyLevel[]) Enum.GetValues(typeof(TaxonomyLevel));
    
    private string _selectedTaxonomyLevel = "";

    public class LearningOutcome
    {
        public string What { get; set; } = "";
        public string Whereby { get; set; } = "";
        public string WhatFor { get; set; } = "";
        public string VerbOfVisibility { get; set; } = "";

        public string GetMarkDownFormattedOutcome() =>
            $"Nach erfolgreicher Beendigung des Lernraums können Studierende {FormatWithPlaceholder(What)} {FormatWithPlaceholder(VerbOfVisibility)}, \n indem sie {FormatWithPlaceholder(Whereby)},\n um {FormatWithPlaceholder(WhatFor)}.";

        public bool IsCopyable() =>
            !IsNullOrEmpty(What) && !IsNullOrEmpty(VerbOfVisibility);

        private bool IsNullOrEmpty(string value) =>
            string.IsNullOrWhiteSpace(value);

        public string GetOutcomeToCopy()
        {
            var sb = new StringBuilder("Nach erfolgreicher Beendigung des Lernraums können Studierende ");
            sb.Append(What).Append(" ").Append(VerbOfVisibility);

            if (!IsNullOrEmpty(Whereby))
            {
                sb.Append(", \n indem sie ").Append(Whereby);
            }

            if (!IsNullOrEmpty(WhatFor))
            {
                sb.Append(",\n um ").Append(WhatFor);
            }

            sb.Append(".");

            return sb.ToString();
        }
    }

    public enum TaxonomyLevel
    {
        Erinnern,
        Verstehen,
        Anwenden,
        Analysieren,
        Bewerten,
        Erschaffen
    }
    
    public enum VerbOfVisibility
    {
        abstimmen, angeben, anführen,
        abgrenzen, ableiten, anordnen,
        ändern, anfertigen, anpassen,
        analysieren, aufdecken, 
        abfassen, abschätzen,
        argumentieren, ausdenken
    }

    private Dictionary<TaxonomyLevel, List<VerbOfVisibility>> _verbsByTaxonomyLevel = new()
    {
        { TaxonomyLevel.Erinnern, new List<VerbOfVisibility>() { VerbOfVisibility.abstimmen, VerbOfVisibility.angeben, VerbOfVisibility.anführen } },
        { TaxonomyLevel.Verstehen, new List<VerbOfVisibility>() { VerbOfVisibility.abgrenzen, VerbOfVisibility.ableiten, VerbOfVisibility.anordnen } },
        { TaxonomyLevel.Anwenden, new List<VerbOfVisibility>() { VerbOfVisibility.ändern, VerbOfVisibility.anfertigen, VerbOfVisibility.anpassen } },
        { TaxonomyLevel.Analysieren, new List<VerbOfVisibility>() { VerbOfVisibility.ableiten, VerbOfVisibility.analysieren, VerbOfVisibility.aufdecken } },
        { TaxonomyLevel.Bewerten, new List<VerbOfVisibility>() { VerbOfVisibility.abfassen, VerbOfVisibility.ableiten, VerbOfVisibility.abschätzen } },
        { TaxonomyLevel.Erschaffen, new List<VerbOfVisibility>() { VerbOfVisibility.ableiten, VerbOfVisibility.argumentieren, VerbOfVisibility.ausdenken } }
    };
    
    private async Task<IEnumerable<string>> SearchVerbOfVisibility(string value)
    {
        var results = new List<string>();

        if (Enum.TryParse<TaxonomyLevel>(_selectedTaxonomyLevel, out var parsedValue))
        {
            results.AddRange(_verbsByTaxonomyLevel[parsedValue]
                .Where(verb => verb.ToString().Contains(value, StringComparison.InvariantCultureIgnoreCase))
                .Select(verb => verb.ToString()));
        }

        if (!string.IsNullOrEmpty(value) && !results.Contains(value))
        {
            results.Insert(0, value);
        }

        return await Task.FromResult(results);
    }

    private string _currentText = "";
    private void OnBlurVerbOfVisibility()
    {
        _currentLearningOutcome.VerbOfVisibility = _currentText;
    }
    
    private static string FormatWithPlaceholder(string value, string placeholder = "[ ... ]")
    {
        return string.IsNullOrWhiteSpace(value) ? placeholder : $"**{value.Trim()}**";
    }

    private async void CopyToClickBoard()
    {
        try
        {
            await ClipBoardService.SetTextAsync(_currentLearningOutcome.GetOutcomeToCopy());
        }
        catch
        {
            // ignored
        }
    }

}